* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* body {
  display: flex;
  justify-content: center;
} */

/* .wrapper {
  padding-top: 1em;
  min-height: 100vh;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
} */

/* main {
  min-width: 100%;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2em;
} */

.profile-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.profile-container #profile_img {
  height: 88px;
  width: 88px;
  border-radius: 50%;
  object-fit: cover;
}

#twitter {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #101828;
}

#slack {
  display: none;
}

.share-container {
  top: -20px;
  right: 10%;
  height: 40px;
  width: 40px;
  position: absolute;
  border: 1px dashed #d0d5dd;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-container {
  margin-top: 1em;
}

a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  margin-top: 8px;
  height: 76px;
  background-color: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  text-decoration: none;
  color: #101828;
  width: 100%;
}

.socials-container {
  display: flex;
  gap: 1.7em;
  align-items: center;
  justify-content: center;
  height: 72px;
}

/* footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* footer > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #eaecf0;
  height: 120px;
} */

#footer_text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
  main {
    min-width: 100%;
    padding: 5px;
  }
  .link-container > a {
    height: 68px;
    font-size: 14px;
  }
  .share-container {
    right: 0%;
  }
  footer {
    padding: 2.5em 0;
  }
  footer > div {
    padding: 1.5em 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 0.7em;
    border-top: 1px solid #eaecf0;
  } 

   footer > div > img {
    height: 24px;
  }
} */
